# Default ignored files
/shelf/
/workspace.xml
# Editor-based HTTP Client requests
/httpRequests/
# Datasource local storage ignored files
/dataSources/
/dataSources.local.xml
.idea/
examples.txt
downloaded/
links.txt
/.venv
.DS_Store
links.txt
*.egg-info/
*.pyc

ytdl.egg-info/dependency_links.txt
ytdl.egg-info/dependency_links.txt
ytdl.egg-info/entry_points.txt
ytdl.egg-info/SOURCES.txt
ytdl.egg-info/top_level.txt
ytdl/__main__.py
ytdl/__pycache__/__init__.cpython-312.pyc
ytdl/__pycache__/__main__.cpython-312.pyc
ytdl/__pycache__/classmodule.cpython-312.pyc
ytdl/__pycache__/funcmodule.cpython-312.pyc
/ytdl.egg-info
/ytdl/__pycache__
